.core {
    display: flex;
}

.pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 40px;
}

.triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    margin-top: 48px;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 10px solid whitesmoke;
}

.messageCore {
    background: whitesmoke;
    background-blend-mode: screen;
    width: 15%;
    border-radius: 25px;
}

.message {
    padding-left: 10px;
    padding-right: 10px;
}

.time {
    color: rgba(67, 68, 68, 0.42);
    text-align: right;
    margin-top: -18px;
    padding-right: 7px;
}

.name {
    padding-left: 10px;
    color: #4f18af;
    font-size: 20px;
    font-weight: bold;
}
